<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<nav class="black" style="padding:0px 10px;">
    <div class="nav-wrapper">
        <a id="text" routerLink="/home" class="brand-logo"> <img id="logo" class="responsive-img"
                src="./assets/atos_cuadrado.png" alt="Logo Atos"></a>

        <a href="/home" class="sidenav-trigger" data-target="mobile-nav">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down" *ngIf="isLoggedIn">

            <li>
                <a routerLinkActive="active" href="/profile" routerLink="profile">{{ username }}</a>
            </li>
            <li>
                <a routerLinkActive="active" href (click)="logout()">LogOut</a>
            </li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li *ngIf="showAdminBoard">
                <a routerLinkActive="active" href="/admin" routerLink="admin">Admin Board</a>
            </li>
            <li *ngIf="showAdminBoard">
                <a routerLinkActive="active" href="/listaIniciativas" routerLink="listaIniciativas">Iniciativas</a>
            </li>
            <li *ngIf="showAdminBoard">
                <a class="hover-underline-animation" routerLinkActive="active" href="/listaIniciativas/form" routerLink="listaIniciativas/form">Añadir
                    iniciativa</a>
            </li>
            <li *ngIf="showAdminBoard">
                <a routerLinkActive="active" href="/register" routerLink="register">Registrar usuario</a>
            </li>
            <li *ngIf="showModeratorBoard">
                <a routerLinkActive="active" href="/mod" routerLink="mod">Moderator Board</a>
            </li>
            <li>
                <a *ngIf="showModeratorBoard" routerLinkActive="active" href="/register" routerLink="register">Registrar</a>
            </li>
        </ul>
        <ul class="right hide-on-med-and-down" *ngIf="!isLoggedIn">
            
            <li>
                <a routerLinkActive="active" href="/login" routerLink="login">Inicia Sesion</a>
            </li>
        </ul>

    </div>
</nav>


<ul class="sidenav" id="mobile-nav">
    <li><a routerLinkActive="active" id="txtnav" routerLink="/home">Home</a></li>

</ul>