<div class="card">
    <div class="card-header">TITULO</div>
    <div class="card-body">

        <form #iniciativaForm="ngForm">
            <div class="form-group row">
                <label for="titulo" class="col-form-label col-sm-2">Título</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="iniciativa.titulo" name="titulo" required #titulo="ngModel">
                    <div class="alert alert-danger" *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)">
                        Este campo debe ser correcto.
                    </div>
               
                </div>
            </div>

            <div class="form-group row">
                <label for="descripcion" class="col-form-label col-sm-2">Descripción</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="iniciativa.descripcion" name="descripcion" required #descripcion="ngModel">
                    <div class="alert alert-danger" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                      Este campo es obligatorio
                  </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="inicio" class="col-form-label col-sm-2">Fecha de inicio</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" [(ngModel)]="iniciativa.inicio" name="inicio" required #inicio="ngModel">
                    <div class="alert alert-danger" *ngIf="inicio.invalid && (inicio.dirty || inicio.touched)">
                      Este campo es obligatorio
                  </div>
              </div>
          </div>

          <div class="form-group row">
            <label for="fin" class="col-form-label col-sm-2">Fecha de finalización</label>
            <div class="col-sm-6">
                <input type="date" class="form-control" [(ngModel)]="iniciativa.fin" name="fin" required #fin="ngModel">
                <div class="alert alert-danger" *ngIf="fin.invalid && (fin.dirty || fin.touched)">
                  Este campo es obligatorio
              </div>
          </div>
      </div>


       

            <div class="form-group row">
              <div class="col-sm-6">
                <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!iniciativa.idIniciativa else elseBlock">Crear</button>
      
                <ng-template #elseBlock>
                  <button class="btn btn-primary" role="button" (click)='update()'>Editar</button>
                </ng-template>
              </div>
            </div>
          </form>
      
        </div>
      </div>